<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
       var arr=`<el-row :gutter="20" >
                <el-col :span="3"><div class="bg-purple">0~0.5小时收费：</div></el-col>
                <el-col :span="3"><div class="grid-content "><el-input v-model="setting.chargeJson.t1"></el-input></div></el-col>
                <el-col :span="3"><div >6~6.5小时收费：</div></el-col>
                <el-col :span="3"><div class="grid-content "><el-input v-model="setting.chargeJson.t13"></el-input></div></el-col>
                <el-col :span="3"><div >12~12.5小时收费：</div></el-col>
                <el-col :span="3"><div class="grid-content "><el-input v-model="setting.chargeJson.t25"></el-input></div></el-col>
                <el-col :span="3"><div >18~18.5小时收费：</div></el-col>
                <el-col :span="3"><div class="grid-content "><el-input v-model="setting.chargeJson.t37"></el-input></div></el-col>
            </el-row>
                <el-row :gutter="20" >
                <el-col :span="3"><div class="bg-purple">0.5~1小时收费：</div></el-col>
                <el-col :span="3"><div class="grid-content "><el-input v-model="setting.chargeJson.t2"></el-input></div></el-col>
                <el-col :span="3"><div >6.5~7小时收费：</div></el-col>
                <el-col :span="3"><div class="grid-content "><el-input v-model="setting.chargeJson.t14"></el-input></div></el-col>
                    <el-col :span="3"><div >12.5~13小时收费</div></el-col>
                <el-col :span="3"><div class="grid-content "><el-input v-model="setting.chargeJson.t26"></el-input></div></el-col>
                <el-col :span="3"><div >18.5~19小时收费：</div></el-col>
                <el-col :span="3"><div class="grid-content "><el-input v-model="setting.chargeJson.t38"></el-input></div></el-col>
            </el-row>`
            for (var i=0;i<12;i++){
                for (var j=i;j<i;j--){
                    
                }
            }
                                                        
 



        </script>
</body>
</html>